# created by virtualenv automatically


tasks.db


/certs


# IDE
.vscode/
.idea/
*.swp
*.swo


# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# Linting
.mypy_cache/
.ruff_cache/

# Virtual environments
venv/
env/
.env/
ENV/
.venv/
env.bak/



# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
